@media (max-width: 480px) {

    body {
        display: flex;
        margin: 0;
        height: 100%;
        width: 100%;
        background-color:crimson;
    }
    
    
    
    .sidebar {
        position: relative;
        background-image: url('https://images.unsplash.com/photo-1696407868189-2ac092c5807f?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center; 
        width: 200px;
        height: 600px;
    }
    
    .logo {
        width: 25px;
        height: 25px;
    }
    
    .image {
        display: flex;
        justify-content: center;
        margin-top: 150px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .credit {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
        color: white;
        text-align: center;
        padding: 5px; /* Adjust padding as needed */
        box-sizing: border-box;
    }
    
    
    .service {
        font-size: 8px;
        font-family: 'Silkscreen', sans-serif;
        margin: 10px;
    }
    
    .form {
        margin-top: 50px;
        background-color: #ecf2f9;
        width: 250px;
    }
    
    input {
        display: block;
    }
    
    .person, .info, .password{
        display: flex;
        justify-content:left;
    }
    
    .person > div {
        margin: 10px;
    }
    
    .info > div {
        margin: 10px;
    }
    
    .password > div {
        margin: 10px;
    }
    
    input {
        box-sizing: border-box;
        width: 25px;
        height: 30px;
    }
    
    input:focus {
        border: solid 2px blue;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        outline: none;
    }
    
    #pass:invalid, #cpass:invalid {
        border-color: red;
        outline: none;
    }
    
    button {
        background-color: #596d48;
        margin: 10px;
        color: white;
        padding: 10px;
    }
    
    .final {
        font-size: 16px;
        margin: 10px;
    }
    
    .hili {
        color: #596d48;
    }

}

body {
    display: flex;
    margin: 0;
    height: 100%;
    background-color:crimson;
}



.sidebar {
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1696407868189-2ac092c5807f?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center; 
    width: 500px;
    height: 850px;
}

.logo {
    width: 100px;
    height: 100px;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 350px;
    background-color: rgba(0, 0, 0, 0.5);
}

.credit {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    color: white;
    text-align: center;
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box;
}


.service {
    font-size: 24px;
    font-family: 'Silkscreen', sans-serif;
    margin: 20px;
}

.form {
    margin-top: 100px;
    background-color: #ecf2f9;
    width: 1500px;
}

input {
    display: block;
}

.person, .info, .password{
    display: flex;
    justify-content:left;
}

.person > div {
    margin: 25px;
}

.info > div {
    margin: 25px;
}

.password > div {
    margin: 25px;
}

input {
    box-sizing: border-box;
    width: 200px;
    height: 30px;
}

input:focus {
    border: solid 2px blue;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

#pass:invalid, #cpass:invalid {
    border-color: red;
    outline: none;
}

button {
    background-color: #596d48;
    margin: 20px;
    color: white;
    padding: 15px;
}

.final {
    font-size: 16px;
    margin: 20px;
}

.hili {
    color: #596d48;
}